.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.char-limit {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.card-heading {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.snippet {
    padding: 1%
}
