<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>The Editorials Website</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/blog/">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/examples/blog/blog.css" rel="stylesheet">

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

  </head>
  <body>
    
<div class="container">
  <header class="blog-header lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-5 text-center">
        <a class="blog-header-logo text-dark" href="{{ url_for('home') }}">The Editorials Website</a>
      </div>
    </div>
  </header>
</div>

<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="col-md-20 px-0">
      <h1 class="display-4 fst-italic"><a href="{{ url_for('show_article', index=ids[0] - 1) }}" style="text-decoration: none; color: inherit;">{{ titles[0] }}</a> </h1>
      <p class="lead my-3 char-limit main-art-char-lim">{{ articles[0] }}</p>
      <p class="lead mb-0">
        <a href="{{ url_for('show_article', index=ids[0] - 1) }}" class="text-white fw-bold">
          <button type="button" class="btn btn-light">Continue reading...</button>
        </a>
      </p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-1 text-primary ">{{ sources[1] }}</strong>
          <h3 class="card-heading">{{ titles[1] }}</h3>
          <div class="mb-1 text-muted">{{ dates[1] }}</div>
          <p class="card-text mb-auto char-limit snippet">{{ articles[1] }}</p>
          <a href="{{ url_for('show_article', index=ids[1] - 1) }}" class="stretched-link">
            <button type="button" class="btn btn-dark">Continue reading...</button>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-1 text-success">{{ sources[2] }}</strong>
          <h3 class="card-heading">{{ titles[2] }}</h3>
          <div class="mb-1 text-muted">{{ dates[2] }}</div>
          <p class="mb-auto char-limit snippet">{{ articles[2] }}</p>
          <a href="{{ url_for('show_article', index=ids[2] - 1) }}" class="stretched-link">
            <button type="button" class="btn btn-dark">Continue reading...</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        From the Internet
      </h3>

      {% for index in range(3, titles|length) %}
      <article class="blog-post">
        <h2 class="mb-1"> <a style="text-decoration: none; color: inherit;" href="{{ url_for('show_article', index=ids[index] - 1) }}"> {{ titles[index] }} </a> </h2>
        <div class="mb-1 text-muted">{{ dates[index] }}</div>
        <p class="char-limit">{{ articles[index] }}</p>
        <p class="blog-post-meta">{{ sources[index] }}</p>
        <hr>
      </article>
      {% endfor %}
    </div>

    <div class="col-md-4">
      <div style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Welcome to <strong>The Editorials Website</strong>!
            Here, you'll find a curated selection of thoughtful perspectives and insightful opinions.
            Take a moment to browse, relax, and explore the world of editorials at your own pace.
            No frills or fuss—just good old-fashioned reading material. Enjoy your stay!</p>
        </div>
      </div>
      <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-3">
        <h2 class="fw-bold mb-0">J.F.Q</h2>
        <hr>
        <ul class="d-grid gap-4 my-5 list-unstyled">
          <li class="d-flex gap-4">
            <svg class="bi text-muted flex-shrink-0" width="48" height="48"><use xlink:href="#grid-fill"></use></svg>
            <div>
              <h5 class="mb-0">Joke</h5>
              {{ joke }}
            </div>
          </li>
          <li class="d-flex gap-4">
            <svg class="bi text-warning flex-shrink-0" width="48" height="48"><use xlink:href="#bookmark-star"></use></svg>
            <div>
              <h5 class="mb-0">Fact</h5>
              {{ fact }}
            </div>
          </li>
          <li class="d-flex gap-4">
            <svg class="bi text-primary flex-shrink-0" width="48" height="48"><use xlink:href="#film"></use></svg>
            <div>
              <h5 class="mb-0">Quote</h5>
              {{ quote }}
              <div class="mb-1 text-muted">-{{ author }}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>

  <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-dark rounded-pill" href="{{ url_for('older_articles')}}">
          Older Articles
        </a>
        <a class="btn btn-outline-secondary rounded-pill disabled">Newer Articles</a>
  </nav>

</main>

<footer class="blog-footer">
  <p>
    <a href="#"><button type="button" class="btn btn-dark">Back to
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
    </svg>
    </button></a>
  </p>
  <p>Copyright © {{ year }}, <a class="text-black fw-bold" href="https://nikhil-natarajan.vercel.app/" >Nikhil Natarajan</a></p>
  <p>Article Sources:
    <a class="text-black" href="https://timesofindia.indiatimes.com/blogs/toi-editorials/">The Times of India</a> &
    <a class="text-black" href="https://www.thehindu.com/opinion/editorial/">The Hindu</a>.
  </p>
  <p>Blog built using template by <a class="text-black" href="https://getbootstrap.com/">Bootstrap</a></p>
  <p> Paper icons created by
    <a class="text-black" href="https://www.flaticon.com/free-icons/paper">
       Freepik - Flaticon </a>
  </p>
</footer>

  </body>
</html>
